Speechster-ESP32-H2-Tesing-B1-PR1/BT-Test/build
Speechster-ESP32-H2-Tesing-B1-PR1/INMP_441-Test/build
Speechster-ESP32-H2-Tesing-B1-PR1/FSR_402-Test/build
Speechster-ESP32-H2-Tesing-B1-PR1/BLE-Node/node_modules
Speechster-ESP32-H2-Tesing-B1-PR1/BT-Test/Website/ble-web/node_modules
Speechster-ESP32-H2-Tesing-B1-PR1/BT-Test/.cache
Speechster-ESP32-H2-Tesing-B1-PR1/FSR_402-Test/build
Speechster-ESP32-H2-Tesing-B1-PR1/INMP_441-Test/.cache
Speechster-ESP32-H2-Tesing-B1-PR1/Main-Working/build