Speechster-ESP32-H2-Tesing-B1-PR1/Main-Working/build
Speechster-ESP32-H2-Tesing-B1-PR1/Main-Working/node_modules
Speechster-ESP32-S3-PR1/Main-Working/build
Student_Workbook.pdf
Speechster-ESP32-S3-PR1/Main-Working/node_modules